@mixin registry-link($padding-top) {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: $padding-top;
  width: 100%;
}

.registry-links {
  margin: 0;
  list-style-type: none;
  padding: 0 25vw;
  text-align: center;
  width: 100%;

  li {
    margin: 6vh 0;
  }

  .buybuybaby-logo {
    @include registry-link(51.578947368%);
    background-image: url('./images/buybuybaby-logo.png');
  }

  .target-logo {
    @include registry-link(21.403508772%);
    background-image: url('./images/target-logo.png');
  }

  .amazon-logo {
    @include registry-link(30.62730627%);
    background-image: url('./images/amazon-logo.png');
  }

  // Mobile -> Tablet, Landscape
  @media screen and (max-width: $tablet-width-max) and (orientation: landscape) {
    padding: 5vh 15vw 5vh 55vw;
  }

  // Tablet, Portrait
  @media screen and (min-width: $tablet-width-min) and (orientation: portrait) {
    padding: 0 35vw;
  }

  // Desktop+
  @media screen and (min-width: $desktop-width-min) and (orientation: landscape) {
    padding: 5vh 20vw 5vh 45vw;
    max-width: 25vw;
  }
}
