@import './styles/variables';

html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  padding: 0;
}

body {
  display: inline-block;
  background: url('./images/bg.jpg') bottom left no-repeat,
    url('./images/bg-rpt.jpg') bottom left repeat-x;

  // Mobile
  @media screen and (max-width: $mobile-width-max) {
    background-size: 100%, 0%;
  }

  // Tablet, Portrait
  @media screen and (min-width: $tablet-width-min) and (orientation: portrait) {
    background-size: 100%, 100% 50%;
    background-position: bottom;
  }
}

@import './styles/utilities';
@import './styles/display';
@import './styles/links';
